html,body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: center;
    

}


.container{
    display: block;
    align-items: center;
    justify-content: center;
}

.startButton{
    
    background-color: orangered;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
  margin-top: 20px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: auto;
    
}

.questionEl{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;

}






    #timerEl{
        /* insert timerEL on top right corner of page */
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        text-align: center;
        margin: 30px;
        border-color: black;
     }

/* style the startBtn */
.startBtn {
 display: flex;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


